<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/admin/img/favicon.png">
    <title>
        Mukta
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="/admin/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/admin/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/admin/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/admin/css/soft-ui-dashboard.css?v=1.0.5" rel="stylesheet" />
    <style>
        .oblique {
            overflow: visible;
        }
    </style>
</head>

<body class="">

    <main class="main-content main-content-bg mt-0">
        <section>
            <div class="page-header" style="height: 100vh;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <!-- @include('admin.inc.validation_message')
                                @include('admin.inc.auth_message') -->
                                <div class="card-header pb-0 text-start">
                                    <h3 class="font-weight-bolder text-info text-gradient">Welcome Admin!</h3>

                                </div>
                                <div class="card-body">
                                    <form action="login" method="post" class="text-start">
                                        
                                        <label>Email</label>
                                        <div class="mb-3">
                                            <input type="email" name="email" value="admin@gmail.com" class="form-control" placeholder="Email"
                                                aria-label="Email">
                                        </div>
                                        <label>Password</label>
                                        <div class="mb-3">
                                            <input type="password" value="Admin@123" name="password" class="form-control"
                                                placeholder="Password" aria-label="Password">
                                        </div>

                                        <div class="mb-3">
                                            <button class="btn" style="    background-color: #fd5a40;
                                            color: #fff;" type="submit">Submit</button>
                                        </div>                                        
                                    </form>
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <a href="admin.forget_password"
                                        class="text-info text-gradient font-weight-bold">Forget
                                        Password</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto z-index-0 ms-n6">
                                    <img class="w-100" src="/admin/img/login-logo.jpg" alt=""
                                        style="height:100vh;object-fit: cover;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <!--   Core JS Files   -->
    <script src="/admin/js/core/popper.min.js"></script>
    <script src="/admin/js/core/bootstrap.min.js"></script>
    <script src="/admin/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/admin/js/plugins/smooth-scrollbar.min.js"></script>
    <!-- Kanban scripts -->
    <script src="/admin/js/plugins/dragula/dragula.min.js"></script>
    <script src="/admin/js/plugins/jkanban/jkanban.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/admin/js/soft-ui-dashboard.min.js?v=1.0.5"></script>
</body>

</html>